<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap" rel="stylesheet">

    
    <title>JUST IN | Sephora Collection Sheet Masks</title>
</head>
<body>
    <main>
        <section id="intro">
            <h1>Fall is here, and winter is coming!</h1>
            <h2>That means upping the moisture in your skincare routine </h2>
            <h3>Check out the NEW - Masque Collection 2019</h3>
        </section>

        <section id="masks">
            <div class="indiv-mask">
                <img src="images/holographic.jpg" alt="holographic sheet mask">
                <h4>Holo Sheet Mask Benefits</h4>
                    <p>Super Hydrating</p>
                    <p>Brightens and evens out skintone</p>
                    <p>Improve the look and feel of dry skin</p>  
            </div>

            <div class="indiv-mask">
                <img src="images/gold.jpg" alt="gold dust sheet mask">
                <h4>Gold Dust Sheet Mask Benefits</h4>
                <p>Purifies</p>
                <p>Brightens</p>
                <p>Antioxidant</p>  
            </div>

            <div class="indiv-mask">
                <img src="images/gemstone.jpg" alt="gemstone mini targeted mask">
                <h4>Gemstone Mini Mask Benefits</h4>
                <p>Formulated with quartz extract</p>
                <p>Eleminaes toxins</p>
                <p>Restores tired skin</p>  
            </div>
        </section>

        <section id="purchase">
            <h3>To purchase these masks here in London go to <a href="https://beauty.shoppersdrugmart.ca/">Beauty Boutique</a></h3>
        </section>
    </main>

    <script src="js/main.js"></script>
</body>
</html>